* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(142, 126, 156);
    color: whitesmoke;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(108, 76, 138);
}

.heading {
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
    font-family: cursive;
    padding: 5px;
}

.topDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input,
.btn {
    border: none;
    margin: 0 5px;
    line-height: 1.5;
    font-size: 20px;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.input {
    background-color: rgb(104, 53, 152);
    outline: none;
    width: 300px;
}

.btn {
    background-color: chartreuse;
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.container div {
    margin-top: 30px;
    border-bottom: 3px solid rgb(108, 76, 138);
}

.container div h1 {
    font-size: 30px;
}

.container div img {
    width: 300px;
    margin-top: 20px;
}

.display div span {
    font-size: 18px;
    font-weight: bold;
    font-size: 22px;
}

.container div p {
    margin: 10px 0;
    font-size: 20px;
}