body{
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: #CD5C5C;
}

.container{
    margin-top: 150px;
    background-color: #FFE4E1;
    width: 1000px;
    height: 400px;
    text-align: center;
}

.main-heading{
    color: #CD5C5C;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px black;
}

.table{
    margin: 0 auto;
    width: 900px;
    height: 150px;
}

.data{
    background-color: #694c4c;
    font-weight: bold;
    font-size: 18px;
    color:#FFE4E1 ;
}

th{
    background-color: black;
    text-align: center;
    color: white;
    line-height: 1.5;
    padding: 5px 10px;
    font-size: 20px;
}

.btn{
    width: 300px;
    line-height: 1.5;
    border: none;
    color: white;
    padding: 5px 0;
    font-weight: bold;
    background-color: black;
    box-shadow: 3px 3px 3px black;
    margin-top: 10px;
}

.btn:hover{
    transform: scale(1.2);
}